@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* header sec */
header{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    z-index: 10;
    padding: 20px 15px;
}
header .container{
    -webkit-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a{
    font-size: 30px;
    color: #ffffff;
}
header .logo a span{
    color:#c11325;
}
header .nav{
    position: fixed;
    background-color: #c11325;
    opacity: .8;
    width: 290px;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 99;
    padding: 100px 0px 15px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .nav.open{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
header .nav ul{
    margin: 0;
    padding: 0px;
}
header .nav ul li{
    display:block;
}
header .nav ul li a{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    position: relative;
    padding: 10px 30px;
}
header .nav ul li a.active::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .2;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
    z-index: -1;
}
header .nav ul li a::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 0px;
    background-color: #000000;
    opacity: .2;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
    z-index: -1;
}
header .nav ul li a:hover::before{
    width: 100%;
}
header .ham-burger{
    display:inline-block;
    position: relative;
    z-index: 100;
}
header .ham-burger span{
    height: 3px;
    margin-bottom:8px;
    display: block;
    background-color: #ffffff;
    width: 30px;
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .ham-burger span:nth-child(1){
    transform-origin: left top;
}
header .ham-burger span:nth-child(2){
    transform-origin: left bottom;
}
header .ham-burger.active span:nth-child(1){
    -webkit-transform: rotate(45deg) translateY(-6px);
    transform: rotate(45deg) translateY(-6px);
}
header .ham-burger.active span:nth-child(2){
    -webkit-transform: rotate(-45deg)translateY(6px);
    transform: rotate(-45deg)translateY(6px);
}
.container{
    max-width: 1170px;
    margin:auto;
}
/* home sec */
.home{
    height: 100vh;
    background-image: url('../images/home.jpg');
    background-size: cover;
    padding: 15px;
    -webkit-display: flex;
    display: flex;
    position: relative;
}
.home .go-down{
    position: absolute;
    bottom:50px;
    width: 26px;
    height: 40px;
    border:1px solid #ffffff;
    border-radius: 4px;
    display: block;
    text-align: center;
    left: 50%;
    margin-left:-13px;
}
.home .go-down .fas{
    color: #fff;
    -webkit-animation: goDown 1s ease infinite;
    animation: goDown 1s ease infinite;
}
@-webkit-keyframes goDown{
    0%{transform: translateY(0);opacity: .5;}
    0%{transform: translateY(10px);}
}
@keyframes goDown{
    0%{transform: translateY(0);opacity: .5;}
    0%{transform: translateY(10px);}
}
.home .container{
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.home h1{
    color:#ffffff;
    font-size: 40px;
    font-weight:700;
    text-transform: uppercase;
}
.home h1 span{
    color: #c11325;
}
/* about sec */
.about{
    padding: 80px 15px;
    background-color: #ffffff;
}
.about .content{
    display: flex;
}
.about .content .box{
    max-width: 33.3%;
    flex: 0 0 33.3%;
    padding: 15px;
}
.about .content .box .inner .img img{
    width: 100%;
}
.about .content .box .inner{
    background-color:#222222;
}
.about .content .box .inner:hover{
    background-color:#c11325;
}
/* .about .content .box:nth-child(2) .inner{
    background-color:#c11325;
} */
.about .content .box .inner .text{
    padding: 30px;
}
.about .content .box .inner .text h4{
    font-size:18px;
    text-align: center;
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 400;
    color: #ffffff;
}
.about .content .box .inner .text p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
/* service sec */
.service{
    padding: 80px 0px;
    background-color: #c11325;
}
.service .content{
   -webkit-display: flex;
    display: flex;
}
.service .content .box{
    flex:0 0 50%;
    max-width: 50%;
    padding: 15px;
}
.service .content .text h2{
    font-size:30px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 0px 20px;
}
.service .content .text p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0 0 20px;
    font-weight: 300;
}
.service .content .text .btn{
    padding: 8px 30px;
    background-color:#222222;
    color:#ffffff;
    display: inline-block;
    cursor: pointer;
    border:1px solid transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.service .content .text .btn:hover{
    border:1px solid #ffffff;
    color: #fff;
    background-color: transparent;
}
.service .content .img img{
    width: 100%;
}
.service .content .accordian-container{
    margin-bottom:5px;
}
.service .content .accordian-container .head{
    background-color:rgba(0,0,0,0.2);
    position:relative;
    padding: 12px 15px;
}
.service .content .accordian-container .head .fas{
    position: absolute;
    right: 10px;
    top:13px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
}
.service .content .accordian-container .head h4{
    font-size:18px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #ffffff;
}
.service .content .accordian-container.active .head{
    background-color:#222222;
}
.service .content .accordian-container .body{
    display:none;
    padding: 15px;
    background-color: #222222;
    border-top:1px solid #333333;
}
.service .content .accordian-container:nth-child(1) .body{
    display:block;
}
.service .content .accordian-container .body p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0 0 20px;
    font-weight: 300;
}
/* Classes sec */
.classes{
    padding: 80px 0px 50px;
    background-color: #ffffff;
}
.classes .content{
    -webkit-display:flex;
    display:flex;
}
.classes .content .box{
    padding: 15px;
    flex: 0 0 50%;
    max-width: 50%;

}
.classes .content .img img{
    width: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.classes .content .text h2{
    font-size:30px;
    font-weight: 500;
    color: #222222;
    padding: 0px 0px 20px;
}
.classes .content .text p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0 0 30px;
    font-weight: 300;
}
.classes .content .class-items .item{
    margin-bottom:30px;
    display:flex;
}
.classes .content .class-items .item:nth-child(1){
    background-color: #222222;
}
.classes .content .class-items .item:nth-child(2){
    background-color: #c11325;
}
.classes .content .class-items .item .item-text,
.classes .content .class-items .item .item-img{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}
.classes .content .class-items .item .item-text{
    padding: 15px;
    display:flex;
    flex-direction: column;
}
.classes .content .class-items .item .item-text h4{
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 400;
    color: #ffffff;
}
.classes .content .class-items .item .item-text p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0 0 10px;
    font-weight: 300;
    text-align: left;
}
.classes .content .class-items .item .item-text ul li{
    color: #ffffff;
}
.classes .content .class-items .item .item-text a{
    font-size: 16px;
    display: Inline-block;
}
.classes .content .class-items .item:nth-child(1) .item-text a{
    color: #c11325;
}
.classes .content .class-items .item:nth-child(2) .item-text a{
    color:#000000;
}
.classes .content .class-items .item .item-img img{
    width: 100%;
    display: block;
}
.classes .content .class-items .item .item-img .price{
	position: absolute;
	height: 50px;
	width: 60px;
	font-size:20px;
	font-weight: 500; 
	color:#ffffff;
	text-align: center;
	line-height: 50px;
}
.classes .content .class-items .item:nth-child(1) .item-img .price{
    background-color: #c11325;
    left:0;
    top:0;
}
.classes .content .class-items .item:nth-child(2) .item-img .price{
    background-color: #000000;
    right:0;
    top:0;
}
/* Start today */
.start-today{
    background-color: #222222;
}
.start-today .content{
    -webkit-display: flex;
    display: flex;
    align-items: center;
}
.start-today .content .box{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.start-today .content .img img{
    width: 100%;
    display:block;
}
.start-today .content .text h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 0px 20px;
}
.start-today .content .text p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0 0 20px;
    font-weight: 300;
}
.start-today .content .text .btn{
    padding: 8px 30px;
    background-color:#c11325;
    color: rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease 0s;
}
.start-today .content .text .btn:hover{
    color: #ffffff;
    border-color:#ffffff;
    background-color: transparent;
}
/* gallery */
.gallery .content{
    /* padding: 20px 0; */
    -webkit-display: flex;
    display: flex;
    flex-wrap: wrap;
}
.gallery .content .box{
    flex: 0 0 50%;
    max-width: 50%;
}
.gallery .content .box img{
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: all .5s ease;
}
.gallery .content .box img:hover{
    filter: grayscale(0%);
}
.gallery h2{
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    padding: 20px 0px 20px;
    text-align: center;
}

.price-package{
    padding: 80px 0px;
    background-color: #ffffff;
}
.price-package h2{
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    padding: 20px 0px 20px;
    text-align: center;
}
.price-package .title-p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0 0 50px;
    font-weight: 300;
    text-align: center;
}
.price-package .content{
    -webkit-display:flex;
    display:flex;
}
.price-package .content .box{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}
.price-package .content .box .inner {
    background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag{
    padding: 15px;
    font-size:20px;
    background-color: #c11325;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}
.price-package .content .box .inner .text{
    padding: 30px 15px;
    text-align: center;
}
.price-package.content .box .inner .text h3{
    font-size:20px;
    color:#222222;
    margin: 0;
    padding: 0 0 20px;
    font-weight: 700;
}
.price-package .content .box .inner .text p{
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0 0 5px;
    font-weight: 300;
    text-align: center;
}
.price-package .content .box .inner .text .btn{
    padding: 8px 30px;
    background-color: #c11325;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover{
    border-color: #222222;
    color: #222222;
    background-color: transparent;
}
.price-package .content .box .inner .img img{
    width: 100%;
}
/* Classes sec */
.contact{
    padding: 80px 0px;
    background-color:#222222;
}
.contact .content{
    display:flex;
}
.contact .content .box{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 25px;
}
.contact .content .form input,
.contact .content .form textarea{
    height: 45px;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 25px;
    background-color: transparent;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
    letter-spacing: 1px;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
    color: #ffffff;
}
.contact .content .form textarea{
    height: 100px;
}
.contact .content .form button{
    border:none;
    box-shadow: none;
    height: 45px;
    padding: 0px 30px;
    background-color: #c11325;
    border: 1px solid transparent;
    color: #ffffff;
    font-size:15px;
    transition: all 0.5s ease;
}
.contact .content .form button:hover{
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}
.contact .content .text h2{
    font-size: 30px;
    font-weight: 500;
    padding: 0px 0px 20px;
    color: #c11325;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 20px;
    font-weight: 300;
}
.contact .content .text .info ul{
    list-style: none;
    padding:0;
    margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#c11325;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a i{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#ffffff ;
	font-size: 15px;
}

@media(max-width: 991px){
    .home{
        background-position: center;
    }
   .classes .content{
       flex-wrap: wrap;
   }
  .classes .content .box {
     flex: 0 0 100%;
     max-width: 100%;
 }
 .classes .content .img{
     display: none;
 }
 .start-today .content .box{
     padding:15px;
 }
 }
 
 /*if screen width is less than or equal to 767px then*/
 @media(max-width: 767px){
   .home h1{
       font-size: 40px;
   }
   .about .content{
        flex-wrap: wrap;
   }
   .about .content .box {
     flex: 0 0 100%;
     max-width: 100%;
 }
 .service .content{
     flex-wrap: wrap;
 }
 .service .content .box {
     flex: 0 0 100%;
     max-width: 100%;
 }
 .classes .content .class-items .item{
     flex-wrap: wrap;
 }
 .classes .content .class-items .item .item-text, 
 .classes .content .class-items .item .item-img {
     flex: 0 0 100%;
     max-width: 100%;
 }
 .schedule .content{
     flex-wrap: wrap;
 }
 .schedule .content .box{
 flex: 0 0 100%;
     max-width: 100%;	
 }
 .start-today .content{
     flex-wrap: wrap;
 }
 .start-today .content .box {
     flex: 0 0 100%;
     max-width: 100%;
   }
  .gallery .content{
   flex-wrap: wrap;
  }
 .gallery .content .box {
     flex: 0 0 100%;
     max-width: 100%;
 }
 .price-package .content{
     flex-wrap: wrap;
 }
 .price-package .content .box {
     flex: 0 0 100%;
     max-width: 100%;
 }
 .contact .content{
     flex-wrap: wrap;
 }
 .contact .content .box {
     flex: 0 0 100%;
     max-width: 100%;
 }
 }
 
 /*if screen width is less than or equal to 550px then*/
 @media(max-width: 550px){
   .home h1{
       font-size: 30px;
   }
 }
 
 
 


